# PostgreSQL credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=todolist_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Database URL (будет собрана автоматически из переменных выше)
# Для локальной разработки
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}